<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Metronic | Visual Charts</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/metro.css" rel="stylesheet" />
	<link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="assets/css/style.css" rel="stylesheet" />
	<link href="assets/css/style_responsive.css" rel="stylesheet" />
	<link href="assets/css/style_default.css" rel="stylesheet" id="style_color" />
	<link rel="stylesheet" type="text/css" href="assets/uniform/css/uniform.default.css" />
    <link rel="stylesheet" href="assets/bootstrap-daterangepicker/daterangepicker.css">
	<link rel="shortcut icon" href="favicon.ico" />
	<style>
		.selfbox{
			background-color: #eee;
			padding: 8px;
			margin-bottom: 20px;
			box-sizing: border-box;
			border-radius: 4px;
			position: relative;
		}
		.details{ 
			position: absolute;
			top: 8px;
			right: 18px;
			font-size: 14px;
		}
	</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<div id="app">
        <!-- BEGIN HEADER -->
        <div class="header navbar navbar-inverse navbar-fixed-top">
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="navbar-inner">
                <div class="container-fluid">
                    <!-- BEGIN LOGO -->
                    <a class="brand" href="index.html">
                        <img src="assets/img/logo.png" alt="logo" />
                    </a>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <img src="assets/img/menu-toggler.png" alt="" />
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <ul class="nav pull-right">
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img alt="" src="assets/img/avatar1_small.jpg" />
                                <span class="username">Bob Nilson</span>
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="Javascript:void(0);"><i class="icon-user"></i> My Profile</a></li>

                                <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container row-fluid">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar nav-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul>
                    <li>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler hidden-phone"></div>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <li class="start active">
                        <a href="overview.html">
                            <i class="icon-home"></i>
                            <span class="title">概览</span>
                        </a>
                    </li>
                    <li class="has-sub ">
                        <a href="javascript:;">
                            <i class="icon-bookmark-empty"></i>
                            <span class="title">活跃分析</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub">
                            <li ><a href="active.html">活跃</a></li>
                            <li ><a href="frequency.html">使用频率</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="">
                            <i class="icon-bar-chart"></i>
                            <span class="title">转化分析</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="">
                        <a href="stay.html">
                            <i class="icon-calendar"></i>
                            <span class="title">留存分析</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="pay.html">
                            <i class="icon-camera"></i>
                            <span class="title">付费分析</span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="generate_channel.html">
                            <i class="icon-credit-card"></i>
                            <span class="title">生成渠道</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a href="channel_list.html">渠道列表</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN PAGE -->
            <div class="page-content">

                <!-- BEGIN PAGE CONTAINER-->
                <div class="container-fluid">
                    <!-- BEGIN PAGE HEADER-->
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN STYLE CUSTOMIZER -->
                            <div class="color-panel hidden-phone">
                                <div class="color-mode-icons icon-color"></div>
                                <div class="color-mode-icons icon-color-close"></div>
                                <div class="color-mode">
                                    <p>THEME COLOR</p>
                                    <ul class="inline">
                                        <li class="color-black current color-default" data-style="default"></li>
                                        <li class="color-blue" data-style="blue"></li>
                                        <li class="color-brown" data-style="brown"></li>
                                        <li class="color-purple" data-style="purple"></li>
                                        <li class="color-white color-light" data-style="light"></li>
                                    </ul>
                                    <label class="hidden-phone">
                                        <input type="checkbox" class="header" checked value="" />
                                        <span class="color-mode-label">Fixed Header</span>
                                    </label>
                                </div>
                            </div>
                            <!-- END BEGIN STYLE CUSTOMIZER -->
                            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                            <h3 class="page-title">
                                Overview
                            </h3>
                            <ul class="breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                    <a href="overview.html">概览</a>
                                    <!--<i class="icon-angle-right"></i>-->
                                </li>
                                <!--<li><a href="#">Visual Charts</a></li>-->
                            </ul>
                            <!-- END PAGE TITLE & BREADCRUMB-->
                        </div>
                    </div>
                    <!-- END PAGE HEADER-->
                    <div class="row-fluid selfbox">
                        <div class="span12 clearfix">
                            <form action="#" class="form-horizontal clearfix" style="margin: 0;">
                                <div class="control-group pull-left">
                                    <label class="control-label" style="width: 47px;">渠道：</label>
                                    <div class="controls" style="margin-left: 47px">
                                        <select class="small m-wrap" id="channelVal" tabindex="1">
                                            <option value="Category 1"
                                                    v-for="(channelData,index) in selectDataList.cNames"
                                            >{{channelData}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group pull-left">
                                    <label class="control-label">游戏：</label>
                                    <div class="controls">
                                        <select class="small m-wrap" id="gameVal" tabindex="1">
                                            <option value="Category 1"
                                                    v-for="(gNamesData,index) in selectDataList.gNames"
                                            >{{gNamesData}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group pull-left">
                                    <label class="control-label">服务器：</label>
                                    <div class="controls">
                                        <select class="small m-wrap" id="severVal" tabindex="1">
                                            <option value="Category 1"
                                                    v-for="(sNamesData,index) in selectDataList.sNames"
                                            >{{sNamesData}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group pull-left">
                                    <label class="control-label">时间：</label>
                                    <div class="controls">
                                        <input type="text" name="datefilter" id="dateVal" />
                                    </div>
                                </div>
                                <div class="control-group pull-left">
                                    <div class="controls" style="margin-left: 10px">
                                        <select class="m-wrap" id="appVal" tabindex="1" style="width: 60px">
                                            <option value="Category 1"
                                                    v-for="(dNames2Data,index) in selectDataDate"
                                            >{{dNames2Data}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="btn blue pull-left"
                                     id="submitActive"
                                     @click="submitOverview"
                                     style="margin-left: 20px">
                                    确定
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid selfbox">
                        <div class="span12">
                            <div id="new-add" style="height:350px;"></div>
                        </div>
                        <a :href="hrefList.activeHref"
                           target="_blank"
                           class="details">详细查看</a>
                    </div>
                    <div class="row-fluid ">
                        <div class="span6 selfbox">
                            <div id="new-save" style="height:400px;"></div>
                            <a target="_blank"
                               :href="hrefList.stayHref" class="details">详细查看</a>
                        </div>
                        <div class="span6 selfbox">
                            <div id="online-time" style="height:400px;"></div>
                            <a href="frequency.html" class="details">详细查看</a>
                        </div>
                    </div>
                    <div class="row-fluid selfbox">
                        <div class="span4" v-for="(item,index) in addPayTitleVal">
                            <h2 class="text-center"><b>{{ item.listNum }}</b></h2>
                            <h3 class="text-center">{{item.listText}}</h3>
                        </div>
                        <!--<div class="span4">-->
                            <!--<h2 class="text-center"><b>34.8%</b></h2>-->
                            <!--<h3 class="text-center">活跃用户付费率</h3>-->
                        <!--</div>-->
                        <!--<div class="span4">-->
                            <!--<h2 class="text-center"><b>34.8%</b></h2>-->
                            <!--<h3 class="text-center">新增用户付费率</h3>-->
                        <!--</div>-->
                    </div>
                    <div class="row-fluid selfbox">
                        <div class="span12">
                            <div id="person-pay"
                                 style="height:400px;"></div>
                        </div>
                        <a :href="hrefList.payHref"
                           target="_blank"
                           class="details">详细查看</a>
                    </div>
                    <div class="row-fluid ">
                        <div class="span6 selfbox">
                            <div id="in-out" style="height:400px;"></div>
                            <a :href="hrefList.payHref"
                               class="details">详细查看</a>
                        </div>
                        <div class="span6 selfbox">
                            <div id="unit-price" style="height:400px;"></div>
                            <a :href="hrefList.payHref"
                               class="details">详细查看</a>
                        </div>
                    </div>
                    <div class="row-fluid selfbox">
                        <div class="span12">
                            <div id="pay" style="height:350px;"></div>
                        </div>
                        <a :href="hrefList.payHref"
                           class="details">详细查看</a>
                    </div>
                </div>
                <!-- BEGIN PAGE CONTAINER-->
            </div>
            <!-- END PAGE -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="footer">
            2017 &copy; XCLOUDGAME
            <div class="span pull-right">
                <span class="go-top"><i class="icon-angle-up"></i></span>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS -->
        <!-- Load javascripts at bottom, this will reduce page load time -->
	</div>
    <script src="assets/js/vue-2.2.0.js"></script>
	<script src="assets/js/jquery-1.8.3.min.js"></script>	
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.blockui.js"></script>		
	<script src="assets/js/jquery.cookie.js"></script>
	<script src="assets/echarts/echarts.common.min.js"></script>
	<script src="assets/breakpoints/breakpoints.js"></script>
	<!-- ie8 fixes -->
	<!--[if lt IE 9]>
	<script src="assets/js/excanvas.js"></script>
	<script src="assets/js/respond.js"></script>
	<![endif]-->
    <script src="assets/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="assets/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="assets/bootstrap-daterangepicker/date.js"></script>
	<script src="assets/js/app.js"></script>
	<script>
		jQuery(document).ready(function() {
			App.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->

	<script type="text/javascript">
        var vmOverview = new Vue({
            el: "#app",
            data:{
                submitDataList: "",
                submitAddgetStayData:"",
                selectDataDate:["日","周","月"],
                selectDataList:{},
                urlList:{
                    "urlListActive": "http://192.168.10.102:9898/app/getGameDate",    // 活跃于新增
                    "urlListStayAdd": "http://192.168.10.102:9898/app/getStayDateOnly",   // 新增与留存
                    "urlListFrequency": "http://192.168.10.102:9898/app/getStayDate", // 用户平均在线时长
                    "urlListPay": "http://192.168.10.102:9898/pay/getPayDate",  // 人均付费对比&付费
                    "urlListPay1": "http://192.168.10.102:9898/pay/getPayRateDate",  // pay Three Num
                },
                addPayTitleVal: ["5","34.81%","34.83%"],
                addPayTitleVal: [
                    {"listText": "新增首次付费用户数","listNum": "5"},
                    {"listText": "活跃用户付费率","listNum": "34.81%"},
                    {"listText": "新增用户付费率","listNum": "34.83%"},
                ],
                hrefList:{
                    activeHref:"active.html",
                    stayHref:"stay.html",
                    payHref:"pay.html",
                }
            },
            mounted() {
                this.TsDateInit(); //初始化时间挂载
                this.TsSelectInit();  // 初始化TsSelectInit
                this.TsEchartTableInit(); //初始化图表和表格挂载
                //this.submitActive(); //点击获取数据
            },
            methods: {
                //初始化时间
                TsDateInit: function () {
                    $('input[name="datefilter"]').daterangepicker({
                        showDropdowns: true,
                        startDate:moment().subtract('days', 6),
                        endDate:moment(),
                        opens: 'left',
                        autoUpdateInput: false,
                        format: 'YYYY/MM/DD',
                        ranges: {
                            'Last 7 Days': [moment().subtract('days', 6), moment()],
                            'Last 14 Days': [moment().subtract('days', 13), moment()],
                            'Last 30 Days': [moment().subtract('days', 29), moment()]
                        }
                    }, function (start,end,label) {
                        // 选择时间范围后调用回调函数
                        start.format('YYYY/MM/DD');
                        end.format('YYYY/MM/DD');
                    });
                    $('input[name="datefilter"]').val(
                            moment().subtract('days', 6).format('YYYY/MM/DD')
                            +'-'+
                            moment().format('YYYY/MM/DD')
                    )
                },

                // 初始化select选框
                TsSelectInit: function () {
                    var _this = this;
                    $.ajax({
                        type: 'get',
                        url: 'http://192.168.10.102:9898/app/getCGS',
                        dataType: 'jsonp',
                        jsonp: 'callback',
                        async: true,
                        success: function (res) {
                            _this.selectDataList = res;
                        },
                        error: function () {

                        }
                    });
                },

                //初始化图表和表格
                TsEchartTableInit: function() {
                    //实例化图表
                    this.chart_new_add= echarts.init(document.getElementById('new-add'));
                    this.chart_new_save= echarts.init(document.getElementById('new-save'));
                    this.chart_online_time= echarts.init(document.getElementById('online-time'));
                    this.chart_person_pay= echarts.init(document.getElementById('person-pay'));
                    this.chart_in_out= echarts.init(document.getElementById('in-out'));
                    this.chart_unit_price= echarts.init(document.getElementById('unit-price'));
                    this.chart_pay= echarts.init(document.getElementById('pay'));


                    option1 = {
                        title: {
                            text: '活跃与新增',
                        },
                        tooltip: {
                            trigger: 'axis',
                        },
                        legend: {
                            orient: 'vertical',
                            left:'right',
                            top: 50,
                            data: ['活跃', '新增']
                        },
                        xAxis: {
                            type: 'category',
                            splitLine: {show: false},
                            axisTick: {show: false},
                            data: []
                        },
                        grid: {
                            left: '3%',
                            right: '8%',
                            bottom: '10%',
                            containLabel: true
                        },
                        yAxis: {
                            type: 'value',
                            axisTick: {show: false},
                            splitNumber:3,
                        },
                        series: [
                            {
                                name: '新增',
                                type: 'line',
                                data: []
                            },
                            {
                                name: '活跃',
                                type: 'line',
                                data: []
                            }
                        ]
                    };
                    option2 = {
                        title: {
                            text: '新增与留存',
                        },
                        tooltip : {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            left:'center',
                            bottom:0,
                            data:['新增','次留','3日次留','4日次留','5日次留','6日次留','7日次留']
                        },
                        grid: {
                            left: '3%',
                            right: '3%',
                            bottom: '10%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type : 'category',
                                splitLine: {show: false},
                                axisTick: {show: false},
                                data: ['12/02', '12/03', '12/04', '12/05', '12/06', '12/07', '12/08']
                            }
                        ],
                        yAxis : [
                            {
                                type: 'value',
                                axisTick: {show: false},
                                splitNumber:4,
                            }
                        ],
                        series : [
                            {
                                name:'新增',
                                type:'line',
                                stack: '总量',
                                areaStyle: {normal: {}},
                                data:[0, 99, 89, 79, 69, 50, 0]
                            },
                            {
                                name:'次留',
                                type:'line',
                                stack: '总量',
                                areaStyle: {normal: {}},
                                data:[220, 182, 191, 234, 290, 330, 310]
                            },
                            {
                                name:'3日次留',
                                type:'line',
                                stack: '总量',
                                areaStyle: {normal: {}},
                                data:[220, 182, 191, 234, 290, 330, 310]
                            },
                            {
                                name:'4日次留',
                                type:'line',
                                stack: '总量',
                                areaStyle: {normal: {}},
                                data:[150, 232, 201, 154, 190, 330, 410]
                            },
                            {
                                name:'5日次留',
                                type:'line',
                                stack: '总量',
                                areaStyle: {normal: {}},
                                data:[320, 332, 301, 334, 390, 330, 320]
                            },
                            {
                                name:'6日次留',
                                type:'line',
                                stack: '总量',
                                areaStyle: {normal: {}},
                                data:[420, 432, 501, 534, 590, 630, 720]
                            },
                            {
                                name:'7日次留',
                                type:'line',
                                stack: '总量',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'top'
                                    }
                                },
                                areaStyle: {normal: {}},
                                data:[820, 932, 901, 934, 1290, 1330, 1320]
                            },

                        ]
                    };
                    option3 = {
                        title: {
                            text: '用户平均在线时长（秒）'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        legend: {
                            left:'center',
                            bottom:0,
                            data: ['新增用户', '付费用户', '活跃用户']
                        },
                        grid: {
                            left: '3%',
                            right: '3%',
                            bottom: '10%',
                            containLabel: true
                        },
                        xAxis: {

                            type: 'category',
                            inverse: true,
                            splitLine: {show: false},
                            axisTick: {show: false},
                            data: ['12/02', '12/03', '12/04', '12/05', '12/06', '12/07', '12/08'],
                        },
                        yAxis: {
                            axisTick: {show: false},
                            type: 'value',
                            splitNumber:4
                        },
                        series: [
                            {
                                name: '新增用户',
                                type: 'bar',
                                data: [165, 170, 30,58,98,214,327]
                            },
                            {
                                name: '付费用户',
                                type: 'bar',
                                data: [150, 105, 110,546,354,216,331]
                            },
                            {
                                name: '活跃用户',
                                type: 'bar',
                                data: [220, 82, 63,32,56,78,131]
                            }
                        ]
                    };
                    option4 = {
                        title: {
                            text: '人均付费对比'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        legend: {
                            left:'center',
                            bottom:0,
                            data: ['首次付费用户ARPPU', '活跃用户ARPPU', '付费用户ARPPU']
                        },
                        grid: {
                            left: '3%',
                            right: '3%',
                            bottom: '10%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            inverse: true,
                            splitLine: {show: false},
                            axisTick: {show: false},
                            data: ['12/02', '12/03', '12/04', '12/05', '12/06', '12/07', '12/08'],
                        },
                        yAxis: {
                            axisTick: {show: false},
                            type: 'value',
                            splitNumber:4,
                            name:'R$'
                        },
                        series: [
                            {
                                name: '首次付费用户ARPPU',
                                type: 'bar',
                                data: [165, 170, 30,58,98,214,327]
                            },
                            {
                                name: '活跃用户ARPPU',
                                type: 'bar',
                                data: [150, 105, 110,546,354,216,331]
                            },
                            {
                                name: '付费用户ARPPU',
                                type: 'bar',
                                data: [220, 82, 63,32,56,78,131]
                            }
                        ]
                    };
                    option5 = {
                        title: {
                            text: '收入与支出',
                        },
                        tooltip: {
                            trigger: 'axis',
                        },
                        legend: {
                            left:'center',
                            bottom:0,
                            data: ['收入', '支出']
                        },
                        xAxis: {
                            type: 'category',
                            splitLine: {show: false},
                            axisTick: {show: false},
                            data: ['12/02', '12/03', '12/04', '12/05', '12/06', '12/07', '12/08']
                        },
                        grid: {
                            left: '3%',
                            right: '3%',
                            bottom: '10%',
                            containLabel: true
                        },
                        yAxis: {
                            type: 'value',
                            axisTick: {show: false},
                            splitNumber:3,
                            name:'R$'
                        },
                        series: [
                            {
                                name: '收入',
                                type: 'line',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'top'
                                    }
                                },
                                data:[689,741, 567, 960, 1508, 1292, 690]
                            },
                            {
                                name: '支出',
                                type: 'line',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom'
                                    }
                                },
                                data:[500, 685, 346, 248, 915, 1008, 479]
                            }
                        ]
                    };
                    option6 = {
                        title: {
                            text: '用户单价',
                        },
                        tooltip: {
                            trigger: 'axis',
                        },
                        legend: {
                            left:'center',
                            bottom:0,
                            data: ['新增单价', '付费单价']
                        },
                        xAxis: {
                            type: 'category',
                            splitLine: {show: false},
                            axisTick: {show: false},
                            data: ['12/02', '12/03', '12/04', '12/05', '12/06', '12/07', '12/08']
                        },
                        grid: {
                            left: '3%',
                            right: '3%',
                            bottom: '10%',
                            containLabel: true
                        },
                        yAxis: {
                            type: 'value',
                            axisTick: {show: false},
                            splitNumber:3,
                            name:'R$'
                        },
                        series: [
                            {
                                name: '新增单价',
                                type: 'line',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'top'
                                    }
                                },
                                data: [689,741, 567, 960, 1508, 1292, 690]
                            },
                            {
                                name: '付费单价',
                                type: 'line',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'bottom'
                                    }
                                },
                                data: [500, 685, 346, 248, 915, 1008, 479]
                            }
                        ]
                    };
                    option7 = {
                        title: {
                            text: '付费',
                        },
                        tooltip: {
                            trigger: 'axis',
                        },
                        legend: {
                            orient: 'vertical',
                            left:'right',
                            top: 50,
                            data: ['新增付费', '总付费']
                        },
                        xAxis: {
                            type: 'category',
                            splitLine: {show: false},
                            axisTick: {show: false},
                            data: ['12/02', '12/03', '12/04', '12/05', '12/06', '12/07', '12/08']
                        },
                        grid: {
                            left: '3%',
                            right: '8%',
                            bottom: '10%',
                            containLabel: true
                        },
                        yAxis: {
                            type: 'value',
                            axisTick: {show: false},
                            splitNumber:3,
                        },
                        series: [
                            {
                                name: '总付费',
                                type: 'line',
                                data: [689,741, 567, 960, 1508, 1292, 690]
                            },
                            {
                                name: '新增付费',
                                type: 'line',
                                data: [500, 620, 346, 248, 915, 1008, 479]
                            }
                        ]
                    };
                    this.chart_new_add.setOption(option1);
                    this.chart_new_save.setOption(option2);
                    this.chart_online_time.setOption(option3);
                    this.chart_person_pay.setOption(option4);
                    this.chart_in_out.setOption(option5);
                    this.chart_unit_price.setOption(option6);
                    this.chart_pay.setOption(option7);
                    window.onresize = this.chart_new_add.resize; //图标自适应
                    window.onresize = this.chart_new_save.resize; //图标自适应
                    window.onresize = this.chart_online_time.resize; //图标自适应
                    window.onresize = this.chart_person_pay.resize; //图标自适应
                    window.onresize = this.chart_in_out.resize; //图标自适应
                    window.onresize = this.chart_unit_price.resize; //图标自适应
                    window.onresize = this.chart_pay.resize; //图标自适应

                    //初始化 点击一次
                    setTimeout(function () {
                        vmOverview.submitOverview();
                    },500);


                },

                //点击获取数据
                submitOverview: function () {
                    channelVal = $("#channelVal").find("option:selected").text();
                    gameVal = $("#gameVal").find("option:selected").text();
                    severVal = $("#severVal").find("option:selected").text();
                    appVal = $("#appVal").find("option:selected").text();
                    dateVal = $("#dateVal").val().trim().split("-");
                    sDate = dateVal[0];
                    eDate = dateVal[1];

                    console.log(channelVal,
                        gameVal,
                        severVal,
                        dateVal,
                        appVal,
                        sDate,
                        eDate);
                    let activeAppVal = vmOverview.flexibleAppVal("NewAddDay","NewAddWeek","NewAddMon");
                    let StayAddAppVal = "StayDay";
                    let FrequencyAppVal = vmOverview.flexibleAppVal("NewAddDay","NewAddWeek","NewAddMon");
                    let PayAppVal = vmOverview.flexibleAppVal("PayMentDay","PayMentWeek","PayMentMon");

                    // 调用公共的ajax,传入请求地址,appval,callback
                    // 1.active页面请求
                    this.publicAjax(vmOverview.urlList.urlListActive, activeAppVal,function (data) {
                        let Op1series1 = []; // 表格1
                        let Op1series2 = []; // 表格1
                        let Op1xAxis = []; // 表格1
                        console.log(data);
                        vmOverview.submitDataList = data; //给submitDataList从新赋值,刷新table的值
                        $.each(data, function (ind,val) {
                            if(ind <= 6){ //只取6条数据
                                Op1series1.push(val.newAddNum);
                                Op1series2.push(val.activeNum);
                                Op1xAxis.push(val.dateID);
                            }

                        });
                        vmOverview.chart_new_add.setOption({
                            xAxis: {
                                data: Op1xAxis
                            },
                            series: [
                                {data: Op1series1},
                                {data: Op1series2}
                            ]
                        });
                        window.onresize = vmOverview.chart_new_add.resize; // 屏幕变化时重置
                        vmOverview.hrefClick("active");
                    });

                    // 2.stay页面add数据请求
                    this.publicAjax(vmOverview.urlList.urlListStayAdd, StayAddAppVal,function (data) {
                        console.log((data));
                        let Op1series1 = []; // 表格1
                        let Op1series2 = []; // 表格1
                        let Op1series3 = []; // 表格1
                        let Op1series4 = []; // 表格1
                        let Op1series5 = []; // 表格1
                        let Op1series6 = []; // 表格1
                        let Op1series7 = []; // 表格1
                        let Op1xAxis = []; // 表格1

                        vmOverview.submitAddgetStayData = data; //给submitDataList从新赋值

                        if(StayAddAppVal == "StayDay"){
                            $.each(data, function (ind,val) {
                                if(ind <= 6){
                                    Op1series1.push(val.newAddNum);
                                    Op1xAxis.push(val.dateID);
                                }
                                console.log(Op1xAxis);
                                if(ind <= 6){
                                    $.each(val.stayAll, function (indIn,valIn) {
                                        if(indIn == 0){
                                            Op1series2.push(valIn);
                                        }else if(indIn == 1){
                                            Op1series3.push(valIn);
                                        }else if(indIn == 2){
                                            Op1series4.push(valIn);
                                        }else if(indIn == 3){
                                            Op1series5.push(valIn);
                                        }else if(indIn == 4){
                                            Op1series6.push(valIn);
                                        }else if(indIn == 5){
                                            Op1series7.push(valIn);
                                        }
                                    });
                                }

                            });
                        }
                        console.log(Op1series1,Op1series2,Op1series3,Op1series4,Op1series5,Op1series6,Op1series7,Op1xAxis);
                         //表1渲染数据
                        vmOverview.chart_new_save.setOption({
                            xAxis:[
                                {data: Op1xAxis}
                            ],
                            series: [
                                {data: Op1series1},
                                {data: Op1series2},
                                {data: Op1series3},
                                {data: Op1series4},
                                {data: Op1series5},
                                {data: Op1series6},
                                {data: Op1series7},
                            ]
                        });
                        vmOverview.hrefClick("stay");
                    });

                    // 3.pay页面请求
                    this.publicAjax(vmOverview.urlList.urlListPay, PayAppVal,function (data) {
                        console.log((data));
                        let Op1series1 = []; // 表格1
                        let Op1series2 = []; // 表格1
                        let Op1series3 = []; // 表格1
                        let Op1xAxis = []; // 表格1
                        let Op2series1 = []; // 表格2
                        let Op2series2 = []; // 表格2
                        let Op2xAxis = []; // 表格2
                        //vmOverview.submitDataList = data; //给submitDataList从新赋值
                        $.each(data, function (ind,val) {
                            if(ind <= 6){ //只取6条数据
                                Op1series1.push(val.newAddPlayerARPPU);
                                Op1series2.push(val.activeARPPU);
                                Op1series3.push(val.payPlayerARPPU);
                                Op1xAxis.push(val.dateID);

                                Op2series1.push(val.todayAllPayMoney);
                                Op2series2.push(val.newAddPayPlayerARPPU);
                                Op2xAxis.push(val.dateID);
                            }

                        });
                        // 表1渲染数据
                        vmOverview.chart_person_pay.setOption({
                            xAxis: {
                                data: Op1xAxis
                            },
                            series: [
                                {data: Op1series1},
                                {data: Op1series2},
                                {data: Op1series3}
                            ]
                        });
                        // 表2渲染数据
                        vmOverview.chart_pay.setOption({
                            xAxis: {
                                data: Op2xAxis
                            },
                            series: [
                                {data: Op2series1},
                                {data: Op2series2}
                            ]
                        });
                        vmOverview.hrefClick("pay");
                    });

                    // 4.pay页面请求2
                    let threeNumVal = "";
                    if(appVal == "日"){
                        threeNumVal = "ThreeNumDay";
                    }else if(appVal == "周"){
                        threeNumVal = "ThreeNumWeek";
                    }else if(appVal == "月"){
                        threeNumVal = "ThreeNumMon";
                    }
                    this.publicAjax(vmOverview.urlList.urlListPay1,threeNumVal, function (data) {
                        console.log((data));
                        $.each(data, function (ind,val) {
                            if(ind == 0){
                                vmOverview.addPayTitleVal[0].listNum = val.newAddFirstPayNum;
                                vmOverview.addPayTitleVal[1].listNum = val.activePayRate;
                                vmOverview.addPayTitleVal[2].listNum = val.newAddPayRate;
                            }
                        });
                    });

                },

                // 公共ajax请求
                publicAjax: function (url,appValList,callback) {
                    if(url && appValList && typeof (callback) === 'function'){
                        $.ajax({
                            type: 'get',
                            url: url,
                            dataType:"jsonp",
                            //传递给请求处理程序，用以获得jsonp回调函数名的参数名(默认为:callback)
                            jsonp: "callback",
                            //自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名
                            //jsonpCallback:"jsonpCallback_success",
                            data: {
                                app: appValList,      //根据 天,周,月对应设置
                                cid: channelVal,     //渠道id
                                gid: gameVal,        //游戏名
                                sid: severVal,       //服务器id
                                sDate: sDate,        //起始时间
                                eDate: eDate,        //结束时间
                            },
                            success: function (data) {
                                callback(data);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log("error");
                            }

                        });
                    }
                },

                // 动态flexibleappVal
                flexibleAppVal: function (day,week,mon) {
                    let appValReturn;
                    if(appVal == "日"){
                        appValReturn = day;
                    }else if(appVal == "周"){
                        appValReturn = week;
                    }else if(appVal == "月"){
                        appValReturn = mon;
                    }
                    return appValReturn;
                },

                // 详情查看点击
                hrefClick: function (urlName) {
                    channelVal = $("#channelVal").find("option:selected").text();
                    gameVal = $("#gameVal").find("option:selected").text();
                    severVal = $("#severVal").find("option:selected").text();
                    appVal = $("#appVal").find("option:selected").text();

                    // 给详情查看赋值链接
                    if(urlName == "active"){
                        if(appVal == "日"){
                            appVal = "NewAddDay";
                        }else if(appVal == "周"){
                            appVal = "NewAddWeek";
                        }else if(appVal == "月"){
                            appVal = "NewAddMon";
                        }
                        vmOverview.hrefList.activeHref = "active.html?app="+appVal+"&cid="+channelVal+"&gid="+gameVal+"&sid="+severVal+"&sDate="+sDate+"&eDate="+eDate;
                    }else if(urlName == "stay"){
                        if(appVal == "日"){
                            appVal = "StayDay";
                        }else if(appVal == "周"){
                            appVal = "StayWeek";
                        }else if(appVal == "月"){
                            appVal = "StayMon";
                        }
                        vmOverview.hrefList.stayHref = "stay.html?app="+appVal+"&cid="+channelVal+"&gid="+gameVal+"&sid="+severVal+"&sDate="+sDate+"&eDate="+eDate;
                    }else if(urlName == "pay"){
                        if(appVal == "日"){
                            appVal = "PayMentDay";
                        }else if(appVal == "周"){
                            appVal = "PayMentWeek";
                        }else if(appVal == "月"){
                            appVal = "PayMentMon";
                        }
                        vmOverview.hrefList.payHref = "pay.html?app="+appVal+"&cid="+channelVal+"&gid="+gameVal+"&sid="+severVal+"&sDate="+sDate+"&eDate="+eDate;
                    }
                }
            }
        });


	</script>
</body>
<!-- END BODY -->
</html>
